.main-container {
    /* background-color: #0D1117; */
    font-family:"Poppins", sans-serif;
    /* height: 100vh; */
    position: relative;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid black; */
    /* background-color: rgb(238, 231, 231); */
    position: absolute;
    top:0;
    left: 0;
    border-bottom: 1px solid rgb(179, 175, 175);
}

.logo-content {
    display: flex;
    /* border: 2px solid black; */
    width: 560px;
    justify-content: space-between;
}

.logo img{
    border-radius: 1vw;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    margin-right: 2px;
    position: relative;
}

.import {
    margin: 0px 10px;
    height: 38px;
    border: none;
    border-radius: 6px;
    font-weight: 510;
    background: none;
    /* color: aliceblue; */
    color: #0D1117;
    transition: all  .4s ease-in-out;
}

.import:hover {
    /* color: rgb(218, 211, 203); */
}

.sync {
    margin: 0px 15px;
    height: 38px;
    border: none;
    border-radius: 6px;
    font-weight: 510;
    background: none;
    /* color: aliceblue; */
    color: #0D1117;
}

.sync:hover {
    /* color: rgb(218, 211, 203); */
}

.profile {
    margin-right: 10px;
}

.user {
    border-radius: 35px;
    cursor: pointer;
}

.click-container {
    height: 80vh;
    margin: 12px 20px;
    background-color:whitesmoke ;
    border-radius: 10px;
}
.click-container1 {
    height: 80vh;
    margin: 12px 150px;
    background-color:whitesmoke ;
    border-radius: 10px;
}

.close-container {
    float: right;
    /* background-color: blueviolet; */
    display: block;
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
    margin: 5px;
}

.closebtn {
    font-size: 28px;
    color: #0D1117;
}

.content-container {
    /* background-color: rgb(230, 230, 230); */
    height: inherit;
    border-radius: 10px;
    /* background: rgba(255,255,255,.05); */
    /* border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.222); */
    border: 1px solid rgba(255, 255, 255, 0.222); 

}

.user-click-container {
    width: 500px;
    position: fixed;
    /* height: 100vh; */
    border-radius: 10px;
    border-radius: 50px;
    padding: 5px;
    background-color: #1e2124;
    /* height: 100px; */
    right: 10px;
    top: 100px;
}

.user-close-container {
    display: block;
    height: 30px;
}

.user-closebtn {
    float: right;
    margin-right: 28px;
    margin-top: 8px;
    font-size: 28px;
    color: aliceblue;
    cursor: pointer;
}

.user-content-container {
    height: 50vh;
    /* background-color: #0D1117; */
}

@media (max-width:750px) {
    .logo-content {
        width: 450px;
    }
}

@media (max-width:650px) {
    .logo-content {
        width: 400px;
    }
}

@media (max-width:500px) {
    .content {
        flex-direction: column-reverse;
    }

    .logo-content {
        width: 300px;
    }

    .sync {
        margin-bottom: 3px;
    }
}

@media (max-width:400px) {
    .content {
        flex-direction: column-reverse;
    }

    .logo-content {
        width: 250px;
    }

    .sync {
        margin-bottom: 3px;
    }
}